.layer-bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.index-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 15px;
}

.homepage {
  width: 1000px;
  margin: 0 auto;
  flex: 1;
  position: relative;
  background: rgb(251, 251, 251);
  border-radius: 5px;
  overflow: hidden;
  transition: .1s linear;
  border: 1px solid transparent;

/* 导航栏样式 */
.top-nav {
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    text-align: center;
    background-color: #00AAFF;

    /* 隐藏滚动条 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 和 Edge */
}

.top-nav::-webkit-scrollbar {
    display: none; /* Chrome 和 Safari */
}

.top-nav a {
    font-weight: bold;
    color: #000;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    background-color: #00AAFF;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgba(128, 128, 128, 0.5);
    overflow: hidden;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: #0099CC; /* 悬停时改变背景颜色 */
    }

    &.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        right: 20%;
        height: 3px;
        border-radius: 2px;
        background-color: #FFA500; /* 活动状态下的背景颜色 */
    }
}



.index-section {
  position: relative;
  height: calc(100% - 52px);
  overflow: hidden;

  // 侧边栏分类
  $sidebarWidth: 80px;
  .sidebar {
    position: relative;
    width: $sidebarWidth;
    height: 100%;
    text-align: center;
    border-right: 1px solid #eee;
    overflow-y: auto;

    .tag {
      position: relative;
      cursor: pointer;

      &.active {
        color: #1890ff;

        div:after {
          top: 0;
          border-top: 1px dashed #ccc;
        }

        div:before {
          bottom: 0;
          border-bottom: 1px dashed #ccc;
        }
      }

      div {
        display: block;
        padding: 11px 0;
        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
        }
      }
    }
  }

  .main {
    width: calc(100% - #{$sidebarWidth});
    position: absolute;
    top: 0;
    left: $sidebarWidth;
    bottom: 30px;
    padding-bottom: 50px;
    overflow: hidden;
    overflow-y: auto;
  }
}
