<section class="app-page user-select-none" style="background: linear-gradient(135deg, #00aaff 0, #ffa500 30%, #ff0000 100%);">
  <header class="header">
    <div class="header-top">
      <img [src]="LOGO_CDN" class="logo" alt="logo">
      <div class="open" [class.active]="open" (click)="handleToggleOpen()">
        <i></i>
        <i></i>
        <i></i>
      </div>
    </div>
    <nav class="nav-open" style="background: #ffa500;">
      <div 
        *ngFor="let item of websiteList | reverse; let i = index;"
        (click)="handleCilckNav(i)" 
        [class.active]="page === i" 
        class="nav-title"
      >
        {{ item.title }}
      </div>
    </nav>
  </header>
  
  <div class="wrapper" *ngIf="websiteList[page]">
    <nav class="children-nav" *ngIf="websiteList[page].nav.length > 1" style="background: #000000;opacity: 0.2; backdrop-filter: blur(10px); border-radius: 10px;">
      <a
        class="tag" 
        *ngFor="let item of websiteList[page].nav | reverse; let i = index" 
        [class.active]="id === i" 
        (click)="handleSidebarNav(i)"
        style="color: #fff;"
      >
        {{ item.title }}
      </a>
    </nav>
    <ul>
      <li *ngFor="let item of currentList" style="background: #ffffff;opacity: 0.9; backdrop-filter: blur(10px); border-radius: 10px;">
        <h2 class="block-title" *ngIf="item.title">
          {{ item.title }} x {{ item.nav.length }}
        </h2>
        <div class="row">
          <div class="item-list" *ngFor="let el of item.nav; index as i;">
            <a [href]="el.url" target="_blank">
              <div class="top">
                <app-logo
                  [src]="el.icon || ''"
                  [name]="el.name"
                  [size]="30"
                >
                </app-logo>
                <em class="name" [title]="el.name">{{ el.name }}</em>
              </div>
              <pre class="desc" [title]="el.desc">{{ el.desc }}</pre>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
